### What is Statistics
Science of collecting, organizing, interpting, analysing, presenting, for specific problem statment 

### Why?
to help in making effective decision making
# 

### Types of Statistics
1. All stats(Basic Summary Features) is about the data. - min, max, mean, median
2. Cannot use this for decision making.
# 

### Inferential
1. from Sample
2. Decision making about population

### Predictive
1. What will happen in the future.

### Prescriptive
1. recommend what can be done

## Descriptive Statistics

### Understand the data (dataset)

## Types of Data
# 

### Qualitative: numbers, measurable data
Types
1. Discrete: fixed number, eg: How many pax, 60
2. Continuous: measured in scale / incremental / range eg. height / temeprature, rainfall
# 

### Quantative: Categorical data
Types
1. Ordinal: ranking/order/sequence of shirt size (s ,m ,l ,xl ,xxl), service rating, feedback, grades
1. Nominal: Labels, no order, gender, race, marital status colors
# 



### Descriptive Statiscitcs
Quantitative approach
1. Summary

    1.1 One variable ---> Univariate Analysis
    
    1.2 Two Variables ---> Bivariate Analysis
    
    1.3 ThreeVariables ---> Multivariate Analysis
    
2. Types (using Python Functions)

    2.1 Central Tendency: (Mean, Median, Mode, Max, Min)
    
    2.2 Variablity/ Spread: (Variance, Standard Deviation)
    
    2.3 Correlation between variables
# 
    
### Visualise approach
1. Histogram
2. scatter plot
3. Box Plot

## Types (using Python Functions)

2.1 Central Tendency: (Mean, Median, Mode, Max, Min)

In [27]:
# Pandas Sample
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame({'November':[1,2,3,4,5,6,7,8,9,10,11,12,13,14], 
                   'C19cases':[2470,3496,3635,3003,1767,3035,2553,2470,3397,3481,2396,3099,2304,1723]})

In [28]:
df.head()

   November  C19cases
0         1      2470
1         2      3496
2         3      3635
3         4      3003
4         5      1767

In [29]:
df['C19cases'].head()

0    2470
1    3496
2    3635
3    3003
4    1767
Name: C19cases, dtype: int64

In [30]:
## Find mean - average
## Sum of all numbers / no of entires
df['C19cases'].mean()

2773.5

In [31]:
## median = middle number
## Has to be an increasing sorted number

# If there are 2 middle numbers, its the average of the 2 middle numbers
df['C19cases'].median()

2778.0

In [32]:
# Show the common occurences of same number
df['C19cases'].mode()

0    2470
dtype: int64

In [33]:
print ('Mean', df['C19cases'].mean())
print ('Median', df['C19cases'].median())
print ('Mode', df['C19cases'].mode()[0])
print ('Max', df['C19cases'].max())
print ('Min', df['C19cases'].min())

Mean 2773.5
Median 2778.0
Mode 2470
Max 3635
Min 1723

## Types (using Python Functions)

2.2 Variablity/ Spread: (Variance, Standard Deviation)

In [34]:
# Spread of the data
# Variance
# How far each day numbers is far from the mean/average

In [35]:
print ('Varience', df['C19cases'].var()) # This is the varience of Novemeber Data
print ('Standard Deviation', df['C19cases'].std()) # Square Root of the Varience

Varience 391759.5
Standard Deviation 625.9069419650177

In [36]:
## Imagine a fake dataset of October
import pandas as pd 
df2 = pd.DataFrame({'October': [1,2,3,4,5,6,7,8,9,10,11,12,13,14], 
                    'C19cases2':[1470,1420,1635,1003,1477,1835,2553,2470,2397,3471, 2796,2399,2314, 1783 ]})

In [37]:
print ('Varience', df2['C19cases2'].var()) # This is the varience of Novemeber Data
print ('Standard Deviation', df2['C19cases2'].std()) # Square Root of the Varience

# if trend is going up then SD, if trend is going down then bigger SD

Varience 442861.3021978022
Standard Deviation 665.4782507323603

## Visualise approach
1. Histogram
2. scatter plot
3. Box Plot

c19 = df['C19cases']
c19.plot.hist(title = 'Histogram Distribution Live Class', bins=20)
plt.axvline(c19.mean(), color = 'magenta')
plt.axvline(c19.median(), color = 'green')
plt.show()

## Inter Quartile Range test
Q1 = 25th percentile
Q2 == 50%
Q3 = 75th percentile

## Shape
### 1. Skewness : Measure of symmetry
### 2. Kurtosis : Measure of peakness in my plot
# 
## Skewness
1. Positive / Right Skewed
Mean > Median > Mode
Plotting on the left, tail on the right

2. Negative / Left Skewed
Mode > Median > Mean
Plotting on the right, tail on the left
# 
## Kurtosis
1. Mesokurtic: Flat tail than the normal distribution and slightly lower peak.
2. Leptokurtic: Highly thick tail and very thin and tallest peak
3. Platy - slender tail

In [41]:
df.describe()

       November     C19cases
count   14.0000    14.000000
mean     7.5000  2773.500000
std      4.1833   625.906942
min      1.0000  1723.000000
25%      4.2500  2414.500000
50%      7.5000  2778.000000
75%     10.7500  3322.500000
max     14.0000  3635.000000

In [42]:
df2.describe()

       October    C19cases2
count  14.0000    14.000000
mean    7.5000  2073.071429
std     4.1833   665.478251
min     1.0000  1003.000000
25%     4.2500  1516.500000
50%     7.5000  2074.500000
75%    10.7500  2452.250000
max    14.0000  3471.000000

### Correlation
##### How strong two variables are
##### Relationship between two three quantitative variables
#### 
Positive = if number of rooms increase, if the prices also increases
 
Positive = if number of rooms decrease, if the prices also decreases

Negative = if the higher altitude we go, the lesser oxygen we get